In [9]:
import numpy as np
import pandas as pd
import requests
import json

In [10]:
test_data = np.load('test.npz')
val_data = np.load('val.npz')
test_pred = np.load('test_pred.npz')

In [11]:
# requests.get("https://gleam-seir-api-883627921778.us-west1.run.app/prediction")

In [12]:
test_data['y'].shape
# 2214: total scenarios
# 28: time sequence
# 58: different counties
# 10: features (seasonality, mobility,...)

(2214, 29, 24)

In [13]:
test_pred['arr_0'].shape

(2214, 28, 24)

In [14]:
val_data['y'].shape

(2052, 29, 24)

In [15]:
county_index = 5  # Example: Extract data for the 6th county
x_county = test_data['x'][:, :, county_index, :] 
x_county.shape

(2214, 28, 10)

In [16]:
test_data['y']#.shape
# 2214: total scenarios
# 29: time sequence (input added)  
# 24: different stages (hospitalized, ...)
compartment1_t = test_data['y'][:,1:,0]
compartment2_t = test_data['y'][:,1:,1]
compartment3_t = test_data['y'][:,1:,2]
compartment4_t = test_data['y'][:,1:,3]
# compartment1_t

In [17]:
# lc1t = compartment1_t.tolist()
# lc2t = compartment2_t.tolist()
# lc3t = compartment3_t.tolist()
# lc4t = compartment4_t.tolist()

# comp1_t_json = json.dumps(lc1t, indent =2)
# with open("comp1_t.json", "w") as f:
#     f.write(comp1_t_json)
# comp2_t_json = json.dumps(lc2t, indent =2)
# with open("comp2_t.json", "w") as f:
#     f.write(comp1_t_json)

# comp3_t_json = json.dumps(lc3t, indent =2)
# with open("comp3_t.json", "w") as f:
#     f.write(comp1_t_json)

# comp4_t_json = json.dumps(lc4t, indent =2)
# with open("comp4_t.json", "w") as f:
#     f.write(comp1_t_json)

In [18]:
compartment1_v = val_data['y'][:,1:,0]
compartment2_v = val_data['y'][:,1:,1]
compartment3_v = val_data['y'][:,1:,2]
compartment4_v = val_data['y'][:,1:,3]
compartment1_v

array([[ 2689,  2936,  3199, ...,  2153,  1976,  1800],
       [ 2802,  3090,  3270, ...,  2169,  2008,  1859],
       [ 2933,  3145,  3343, ...,  2324,  2080,  1937],
       ...,
       [11372, 11183, 10896, ...,  7135,  6724,  6407],
       [11019, 11020, 10844, ...,  7324,  7047,  6725],
       [10355, 10242, 10025, ...,  7048,  6652,  6386]])

In [19]:
# 2214: total scenarios
# 28: time sequence
# 58: different counties
# 10: features (seasonality, mobility,...)
x=test_data['x']
test_input_df = pd.DataFrame(x.reshape(2214, -1))
test_input_df.columns = [f'County_{i+1}_Time_{j+1}_Feat{k+1}' for i in range(58) for j in range(28) for k in range(10)]
test_input_df

,County_1_Time_1_Feat1,County_1_Time_1_Feat2,County_1_Time_1_Feat3,County_1_Time_1_Feat4,County_1_Time_1_Feat5,County_1_Time_1_Feat6,County_1_Time_1_Feat7,County_1_Time_1_Feat8,County_1_Time_1_Feat9,County_1_Time_1_Feat10,...,County_58_Time_28_Feat1,County_58_Time_28_Feat2,County_58_Time_28_Feat3,County_58_Time_28_Feat4,County_58_Time_28_Feat5,County_58_Time_28_Feat6,County_58_Time_28_Feat7,County_58_Time_28_Feat8,County_58_Time_28_Feat9,County_58_Time_28_Feat10
0,0.961272,1.0000,1.0000,1.0,1.0,1.0000,0.99,1.000000,1.000000,1.6,...,0.911575,0.4356,0.3600,0.0,1.0,1.0,0.66,0.3099,0.3099,1.6
1,0.961272,1.0000,1.0000,1.0,1.0,1.0000,0.99,1.000000,1.000000,1.6,...,0.911575,0.4356,0.3600,0.0,1.0,1.0,0.66,0.3099,0.3099,1.6
2,0.961272,1.0000,1.0000,1.0,1.0,1.0000,0.99,1.000000,1.000000,1.6,...,0.911575,0.4356,0.3600,0.0,1.0,1.0,0.66,0.3099,0.3099,1.6
3,0.961272,1.0000,1.0000,1.0,1.0,1.0000,0.99,1.000000,1.000000,1.6,...,0.911575,0.4356,0.3600,0.0,1.0,1.0,0.66,0.3099,0.3099,1.6
4,0.961272,1.0000,1.0000,1.0,1.0,1.0000,0.99,1.000000,1.000000,1.6,...,0.911575,0.4356,0.3600,0.0,1.0,1.0,0.66,0.3099,0.3099,1.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2209,0.913627,0.4624,0.2401,1.0,1.0,0.3444,0.37,0.377133,0.377133,3.6,...,0.962816,0.8836,0.1521,0.0,1.0,1.0,0.60,0.3870,0.3870,3.6
2210,0.913627,0.4624,0.2401,1.0,1.0,0.3444,0.37,0.377133,0.377133,3.6,...,0.962816,0.8836,0.1521,0.0,1.0,1.0,0.60,0.3870,0.3870,3.6
2211,0.913627,0.4624,0.2401,1.0,1.0,0.3444,0.37,0.377133,0.377133,3.6,...,0.962816,0.8836,0.1521,0.0,1.0,1.0,0.60,0.3870,0.3870,3.6
2212,0.913627,0.4624,0.2401,1.0,1.0,0.3444,0.37,0.377133,0.377133,3.6,...,0.962816,0.8836,0.1521,0.0,1.0,1.0,0.60,0.3870,0.3870,3.6
2213,0.913627,0.4624,0.2401,1.0,1.0,0.3444,0.37,0.377133,0.377133,3.6,...,0.962816,0.8836,0.1521,0.0,1.0,1.0,0.60,0.3870,0.3870,3.6

In [22]:
# 2214: total scenarios
# 29: time sequence (input added)  
# 24: different stages (hospitalized, ...)
y=test_data['y'][:,1:29,:]
print(y.shape)
test_output_df = pd.DataFrame(y.reshape(2214, -1))
test_output_df.columns = [f'Time_{i}_Stage_{j+1}' for i in range(1,29) for j in range(24)]
test_output_df

(2214, 28, 24)

,Time_1_Stage_1,Time_1_Stage_2,Time_1_Stage_3,Time_1_Stage_4,Time_1_Stage_5,Time_1_Stage_6,Time_1_Stage_7,Time_1_Stage_8,Time_1_Stage_9,Time_1_Stage_10,...,Time_28_Stage_15,Time_28_Stage_16,Time_28_Stage_17,Time_28_Stage_18,Time_28_Stage_19,Time_28_Stage_20,Time_28_Stage_21,Time_28_Stage_22,Time_28_Stage_23,Time_28_Stage_24
0,165,44,46,1,2,74,99,98,147,1,...,11,2,1,23,27,15,24,1,3,0
1,185,63,41,2,2,78,98,118,145,3,...,14,2,0,29,30,11,28,1,0,1
2,143,41,31,1,1,83,89,61,134,0,...,5,1,0,13,21,14,16,0,0,0
3,4457,1557,989,49,25,1904,2774,2732,3987,52,...,307,13,4,499,741,331,553,20,21,7
4,4370,1404,945,38,17,1883,2856,2685,3880,59,...,302,22,8,449,650,328,459,26,29,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2209,1247,478,312,34,35,9465513,13608174,1815,2630,29,...,84,6,0,104,157,83,145,6,7,2
2210,1130,427,265,24,36,9447039,13583295,1736,2549,25,...,90,7,1,111,171,96,134,7,4,2
2211,9705,3649,2517,214,249,7760868,11178010,14756,21444,229,...,635,39,5,881,1347,727,1048,40,40,9
2212,9242,3474,2347,201,223,7750150,11169712,14180,20433,207,...,573,44,15,846,1217,721,1026,50,60,11
2213,9854,3666,2397,217,238,7767647,11194225,14832,21203,240,...,611,51,4,936,1312,683,999,62,46,18

In [29]:
ml_pred = test_pred['arr_0']

In [ ]:
import json
y_list = y.tolist()
output_json = json.dumps(y_list, indent =2)
with open("output.json", "w") as f:
    f.write(output_json)
    
ml_pred_list = ml_pred.tolist()
ml_json = json.dumps(ml_pred_list, indent =2)
with open("ml_pred.json", "w") as f:
    f.write(ml_json)

In [34]:
val_data = np.load('val.npz')

In [35]:
val_data['x'].shape

(2052, 28, 58, 10)

In [36]:
val_data['y'].shape

(2052, 29, 24)

In [ ]:
test_output_df.to_csv('output.csv', index=False)